.choose-payment-method {
  margin-top: 2rem;

  @include e('paragraph') {
    font-family: $font-secondary;
    margin: 2rem 0;
  }

  @include e('input') {
    margin: 1rem 0;
    width: 100%;

    &:nth-child(3) {
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  @include e('label') {
    display: inline-block;
    font-family: $font-secondary;
    font-size: 1.6rem;
    margin: {
      left: 3rem;
    }
  }

  @include e('checkbox') {
    position: relative;
    top: 0.1rem;
  }
}
