.confirm-payment-method {
  margin-top: 2rem;

  @include e('heading') {
    color: $color-text-purple;
    font-family: $font-secondary;
    font-size: 1.8rem;
  }

  @include e('info') {
    font-family: $font-secondary;
    margin: 1.5rem 0 2rem;
  }

  @include e('points') {
    font-family: $font-secondary;
    font-size: 1.4rem;
  }

  @include e('point') {
    margin-top: 1.5rem;
  }

  @include e('confirm-btn') {
    @include m('smaller-font') {
      &.btn {
        font-size: 2.4rem;
      }
    }
  }

  @include max-screen-md {
    margin-top: 1rem;

    @include e('point') {
      margin-top: 1rem;
    }

    @include e('confirm-btn') {
      @include m('smaller-font') {
        &.btn {
          font-size: 2.2rem;
        }
      }
    }
  }

  @include max-screen-sm {
    margin-top: 3rem;

    @include e('point') {
      margin-top: 1.5rem;
    }

    @include e('confirm-btn') {
      @include m('smaller-font') {
        &.btn {
          font-size: 2.4rem;
        }
      }
    }
  }
}
