.countdown-timer {
  color: $color-text-light;
  margin: 1rem auto 0;
  text-align: center;
  width: 51rem;

  @include e('heading') {
    font-family: $font-secondary;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    @include m('small') {
      font-size: 1.9rem;
    }
  }

  @include e('time') {
    background-color: $background-purple;
    font-size: 6.8rem;
    height: 9rem;

    @include border-radius(3rem);

    @include m('small') {
      font-size: 5rem;
      height: 7rem;
    }
  }

  @include e('time-part') {
    position: relative;
  }

  @include e('time-part-label') {
    bottom: -1.5rem;
    font-size: 2.2rem;
    left: 0;
    position: absolute;
    right: 0;

    @include m('small') {
      font-size: 1.8rem;
    }
  }

  @include m('small') {
    width: 36rem;
  }

  @include max-screen-sm {
    width: 40rem;

    @include e('heading') {
      font-size: 1.6rem;
    }

    @include e('time') {
      font-size: 5rem;
      padding-top: 0.9rem;
    }

    @include e('time-part-label') {
      font-size: 1.8rem;
    }
  }

  @include max-screen-xs {
    max-width: 28rem;
    width: 100%;

    @include e('heading') {
      font-size: 1.2rem;
    }

    @include e('time') {
      font-size: 4rem;
      height: 6rem;
      margin: 0 auto;
      padding-top: 0.4rem;
      width: 90%;
    }

    @include e('time-part-label') {
      bottom: -1rem;
      font-size: 1.4rem;
    }
  }
}
