.faq {
  margin: 0 auto;
  max-width: 120rem;

  @include e('heading') {
    color: $color-text-red;
    font-size: 20rem;
    font-weight: 400;
  }

  @include e('content') {
    color: $color-text-dark;
    padding: 1.5rem 3rem;
  }

  @include e('question') {
    margin-top: 2rem;
  }

  @include e('question-btn') {
    cursor: pointer;
    font-size: 4rem;
    text-align: left;
    width: 100%;
  }

  @include e('answer') {
    border-bottom: 0.5rem solid $color-red;
    font-family: $font-secondary;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.5rem auto;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: 0.3s ease-out;

    @include m('visible') {
      max-height: 15rem;
      padding-bottom: 1.5rem;
      transition: 0.3s ease-in;
    }
  }

  @include max-screen-md {
    @include e('heading') {
      padding-left: 2rem;
      width: unset;
    }
  }

  @include max-screen-sm {
    @include e('heading') {
      font-size: 10rem;
    }

    @include e('question-btn') {
      font-size: 3rem;
    }

    @include e('answer') {
      @include m('visible') {
        max-height: 30rem;
      }
    }
  }

  @include max-screen-xs {
    @include e('heading') {
      font-size: 10rem;
    }

    @include e('answer') {
      @include m('visible') {
        max-height: 70rem;
      }
    }
  }
}
