.footer {
  background-color: $background-dark;
  color: $color-text-red;
  font-size: 1.8rem;
  height: $footer-height;
  justify-content: space-between;
  padding: 1.2rem 3rem;

  @include flex();

  @include e('socials') {
    visibility: hidden;
  }

  @include e('social-link') {
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
