.frame-selection {
  @extend %fixed-fullscreen;

  background: rgba($background-dark, 0.95);
  overflow: {
    x: hidden;
    y: auto;
  }
  z-index: 100;

  @include e('encapsulator') {
    justify-content: center;
    min-height: 100vh;
    position: relative;

    @include flex;
  }

  @include e('close') {
    @extend %close;

    left: 0;
    top: 0;
  }

  @include e('loading') {
    font-size: 2.4rem;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
  }

  @include e('container') {
    justify-content: center;
    position: relative;

    @include align-items(center);
    @include flex;

    @include m('invisible') {
      visibility: hidden;
    }
  }

  @include e('inner-container') {
    @include flex;
  }

  @include e('frame-info') {
    display: none;
  }

  @include e('video') {
    margin: 0 7.5rem;
    max-width: 64rem;
    width: 35vw;
  }

  @include e('instructions-wrapper') {
    justify-content: space-between;

    @include flex;
    @include flex-direction(column);
  }

  @include e('instructions-group') {
    &:first-of-type {
      text-align: left;
    }

    &:nth-of-type(2) {
      text-align: center;
    }

    &:last-of-type {
      text-align: right;
    }
  }

  @include e('instructions-image') {
    margin-bottom: 2rem;
  }

  @include e('instructions-image-small-devices') {
    display: none;
  }

  @include e('instructions') {
    color: $color-text-red;
    font-size: 2rem;
    width: 26rem;
  }

  @include max-screen-lg {
    @include e('video') {
      margin: 0 2.5rem;
      width: 37vw;
    }

    @include e('instructions') {
      font-size: 1.8rem;
    }
  }

  @include max-screen-md {
    @include e('encapsulator') {
      padding-bottom: 0;

      @include flex-direction(column);
    }

    @include e('container') {
      width: 70rem;
      margin: 0 auto;
    }

    @include e('inner-container') {
      @include align-items(center);
      @include flex-direction(column);
    }

    @include e('instructions-wrapper') {
      margin-top: 7rem;
      order: -1;
      padding-right: 0;
    }

    @include e('instructions-group') {
      margin-bottom: 1.5rem;

      &:nth-of-type(n) {
        text-align: center;
      }

      &:last-of-type {
        @include align-items(unset);
      }
    }

    @include e('instructions-image') {
      display: none;
    }

    @include e('instructions-image-small-devices') {
      display: block;
    }

    @include e('instructions') {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      width: 37rem;
    }

    @include e('frame-info') {
      display: block;
      margin-top: 2rem;
      width: 80%;
    }

    @include e('video') {
      margin: 3rem 0;
      width: 80%;
    }
  }

  @include max-screen-sm {
    @include e('container') {
      width: unset;
      margin: unset;
    }

    @include e('instructions') {
      width: 28rem;
    }
  }

  @include max-screen-xs {
    @include e('instructions') {
      width: 25rem;
    }
  }
}
