.header {
  background-color: $background-dark;
  border-bottom: 0.3rem solid $color-purple;
  justify-content: center;
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  @include align-items(center);
  @include flex;

  @include m('modal-open') {
    z-index: 0;
  }

  @include e('logo') {
    @extend %logo;
  }

  @include e('nav') {
    margin: {
      left: 7rem;
      right: 5.2rem;
    }

    ul {
      list-style-type: none;

      li {
        display: inline-block;
        font-size: 2.8rem;
        padding: 3.6rem 2.4rem;

        &:hover,
        &:active {
          border-bottom: 0.3rem solid #c800ff;
          padding-bottom: 3.2rem;
        }
      }
    }

    @include m('hidden') {
      visibility: hidden;
    }
  }

  @include e('shop') {
    @include align-items(center);
    @include flex;

    .btn {
      box-shadow: 0.2rem 0.2rem 0 0.4rem $background-red;
      font-size: 2.2rem;
      height: 3.6rem;
      margin: 2.5rem 1.6rem;
      padding: 0.5rem 1rem;
      position: relative;

      &[disabled] {
        box-shadow: 0.2rem 0.2rem 0 0.4rem darken($background-red, 35%);
      }

      &:last-child {
        margin-left: 0.7rem;
        margin-right: 3.5rem;
        padding: 0.7rem 0.7rem 0.3rem;
      }
    }
  }

  @include e('menu-button') {
    height: 3rem;
    margin-right: 3rem;

    @include m('menu-open') {
      left: 0.2rem;
      top: -0.2rem;
    }

    @include m('interim') {
      cursor: not-allowed;
    }
  }

  @include e('mobile-button-area') {
    display: none;
    margin: 4rem 0 3rem;
    min-width: 35rem;

    .btn.btn--primary {
      padding: 0.8rem;

      @include border-radius(1.5rem);

      &:first-of-type {
        margin-right: 2rem;
      }
    }
  }

  @include max-screen-lg {
    @include e('logo') {
      margin-left: 2rem;
    }

    @include e('nav') {
      margin: {
        left: 6rem;
        right: 5rem;
      }

      ul li {
        padding: {
          left: 1.2rem;
          right: 1.2rem;
        }
      }
    }
  }

  @include max-screen-md {
    justify-content: space-between;

    @include e('logo') {
      margin-left: 1rem;
    }

    @include e('nav') {
      margin: unset;

      ul {
        li {
          font-size: 2.2rem;
          padding: 3.6rem 1vw;
        }
      }

      @include m('hidden') {
        visibility: hidden;
      }
    }

    @include e('shop') {
      .btn {
        margin-left: 0.5rem;

        &:last-child {
          margin-right: 1.5rem;
        }
      }
    }
  }

  @include max-screen-sm {
    @include e('nav') {
      background: $background-purple;
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: $header-height;
      transition-property: padding-left, width;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      width: 0;
      z-index: 99;

      ul {
        height: 100%;
        justify-content: space-around;
        max-height: 70rem;

        @include flex;
        @include flex-direction(column);

        li {
          display: block;
          font-size: 5.2rem;
          padding: 0.6rem;
        }
      }

      @include m('open') {
        padding-left: 3rem;
        width: 100vw;
      }
    }

    @include e('mobile-button-area') {
      display: block;
    }
  }
}
