%home-sign-up-below-input-text {
  background: $background-grey;
  margin-top: -2rem;
  padding: {
    bottom: 0.2rem;
    top: 2rem;
  }

  @include border-radius(1rem);
}

.bg-home {
  background-image: url('/img/home-bg.jpeg');
  background-size: cover;
  min-height: calc(100vh - $header-height);

  @include m('interim') {
    min-height: calc(100vh - $header-height - $footer-height);
  }

  @include e('overlay') {
    background-color: rgba(29, 29, 29, 0.6);
    justify-content: space-between;
    min-height: calc(100vh - $header-height);

    @include flex;
    @include flex-direction(column);

    @include m('interim') {
      min-height: calc(100vh - $header-height - $footer-height);
    }
  }
}

.home {
  flex-grow: 1;
  justify-content: space-evenly;

  @include flex;
  @include flex-direction(column);

  @include e('website-title') {
    font-size: 25rem;
    line-height: 0.8;
    margin: 0 auto;
    max-width: 120rem;
    position: relative;
    text-align: center;
  }

  @include e('website-title-layer') {
    &:not(:first-of-type) {
      position: absolute;

      @include user-select(none);
    }

    &:first-of-type {
      position: relative;
      z-index: 3;
    }

    &:nth-of-type(2) {
      color: $color-text-blue;
      left: 0.5rem;
      top: 0.5rem;
      z-index: 2;
    }

    &:last-of-type {
      color: $color-text-purple;
      left: 1rem;
      top: 1rem;
      z-index: 1;
    }
  }

  @include e('red-strip') {
    background: $background-red;
    color: $color-text-dark;
    margin: {
      bottom: 0.5rem;
      top: 2rem;
    }
    padding: 2rem;
    width: 100%;
  }

  @include e('artist-info-wrapper') {
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 120rem;

    @include align-items(center);
    @include flex;
  }

  @include e('by-artist-info') {
    font-size: 4.4rem;
    margin-right: 8rem;
  }

  @include e('artist-statement') {
    font-size: 2.1rem;
    line-height: 0.9;
  }

  @include e('community') {
    margin: 3rem auto 2rem;
    width: 115rem;

    @include align-items(center);
    @include flex;
  }

  @include e('sign-up') {
    flex-shrink: 0;
    padding-right: 0.5rem;
  }

  @include e('sign-up-text') {
    font-family: $font-secondary;
    margin-bottom: 1rem;
  }

  @include e('sign-up-form') {
    @include flex;
  }

  @include e('sign-up-input-and-error') {
    margin-right: 2rem;
  }

  @include e('sign-up-input') {
    font-family: $font-primary;
    font-size: 2.2rem;
    height: 4.3rem;
    padding-top: 1rem;
    width: 50rem;

    @include m('bottom-space') {
      margin-bottom: 1.95rem;
    }
  }

  @include e('sign-up-btn') {
    margin: {
      bottom: 2.2rem;
      top: 0.2rem;
    }
    padding: 0.5rem;
    width: 15rem;

    @include border-radius(1.2rem);
  }

  @include e('sign-up-error') {
    @extend %home-sign-up-below-input-text;
  }

  @include e('sign-up-success') {
    @extend %home-sign-up-below-input-text;

    color: $color-text-gold;
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 2rem;
  }

  @include e('community-separator') {
    background: $background-light;
    flex: 1 1;
    height: 0.5rem;
    margin: 1.5rem 1.5rem 0;
  }

  @include e('socials-wrapper') {
    flex-shrink: 1;
  }

  @include e('socials') {
    margin-bottom: 1.4rem;
  }

  @include e('socials-text') {
    font-family: $font-secondary;
    margin-bottom: 1rem;
  }

  @include e('social-link') {
    @extend %social-link;
  }

  @include max-screen-xl {
    @include e('website-title') {
      font-size: 15rem;
    }
  }

  @include max-screen-lg {
    @include e('artist-statement') {
      font-size: 2rem;
    }

    @include e('community') {
      width: 95rem;
    }

    @include e('sign-up-input') {
      width: 35rem;
    }
  }

  @include max-screen-md {
    @include e('artist-statement') {
      font-size: 1.7rem;
    }

    @include e('community') {
      width: unset;

      @include flex-direction(column);
    }
  }

  @include max-screen-sm {
    @include e('website-title') {
      font-size: 10rem;
    }

    @include e('artist-info-wrapper') {
      @include align-items(unset);
      @include flex-direction(column);
    }

    @include e('by-artist-info') {
      margin-bottom: 2rem;
    }

    @include e('artist-statement') {
      font-size: 1.6rem;
    }

    @include e('community') {
      margin: 0 1.5rem;
    }

    @include e('sign-up') {
      width: 100%;
    }

    @include e('sign-up-input-and-error') {
      flex-grow: 1;

      @include flex;
      @include flex-direction(column);
    }

    @include e('sign-up-input') {
      flex-grow: 1;
      width: auto;
      z-index: 1;
    }
  }

  @include max-screen-xs {
    @include e('website-title') {
      font-size: 19vw;
    }

    @include e('artist-statement') {
      font-size: 1.4rem;
    }

    @include e('sign-up-form') {
      @include flex-direction(column);
    }

    @include e('sign-up-input-and-error') {
      margin: {
        bottom: 1rem;
        right: 0;
      }
    }

    @include e('sign-up-btn') {
      flex-grow: 1;
      width: auto;
    }
  }
}
