$identity-verification-modal-height: 60.8rem;
$identity-verification-modal-width: 68rem;

.identity-verification {
  @extend %fixed-fullscreen;

  display: none;

  @include m('visible') {
    display: block;
  }

  @include e('backdrop') {
    @extend %backdrop;
  }

  @include e('main') {
    @extend %modal;

    height: $identity-verification-modal-height;
    margin: {
      left: $identity-verification-modal-width * -1 / 2;
      top: $identity-verification-modal-height * -1 / 2;
    }
    padding: 4rem 7rem;
    text-align: left;
    width: $identity-verification-modal-width;
  }

  @include e('close') {
    @extend %close;

    right: 0;
    top: 0;
  }

  @include e('heading') {
    color: $color-text-red;
    font-size: 3.2rem;
    margin-bottom: 2rem;

    @include m('thank-you') {
      margin: 12rem auto 4rem;
      max-width: 40rem;
      text-align: center;
    }
  }

  @include e('info') {
    font-family: $font-secondary;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  @include e('form') {
    @include flex;
    @include flex-direction(column);
  }

  @include e('file-input-overlay') {
    box-sizing: content-box;
    cursor: unset;
    margin: 0 auto 1rem;
    padding: 0.5rem;
    width: 43rem;
  }

  @include e('file-input') {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  @include e('chosen-file') {
    color: $color-text-purple;
    font-family: $font-secondary;
    margin: 0 auto;

    @include flex;
  }

  @include e('chosen-file-name') {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35rem;
  }

  @include e('chosen-file-cancel') {
    cursor: pointer;
    margin-left: 0.9rem;
    padding-top: 0.2rem;
  }

  @include e('input') {
    margin: 1rem auto 0.5rem;
    width: 45rem;
  }

  @include e('error') {
    width: 45rem;
    margin: 0 auto;
  }

  @include e('submit-btn') {
    margin: 3rem auto 0;
    padding: 1rem;
    width: 30rem;
  }

  @include e('submit-error') {
    @extend %submit-error;
  }

  @include e('cancel') {
    color: $color-text-red;
    display: none;
    font-family: $font-secondary;
    font-size: 1.8rem;
  }

  @include max-screen-sm {
    background-color: $background-dark;
    position: absolute;
    top: $header-height;

    @include e('backdrop') {
      background-color: unset;
      position: unset;
      z-index: unset;
    }

    @include e('main') {
      height: unset;
      left: unset;
      margin: {
        left: unset;
        top: unset;
      }
      padding: 4rem 4rem 1rem;
      position: unset;
      top: unset;
      width: unset;

      @include border-radius(0);
    }

    @include e('close') {
      display: none;
    }

    @include e('heading') {
      font-size: 2.8rem;
    }

    @include e('form') {
    }

    @include e('error') {
      margin: unset;
      width: 25rem;
    }

    @include e('cancel') {
      display: inline-block;
      margin: 0 auto;
    }
  }

  @include max-screen-xs {
    @include e('main') {
      padding: {
        left: 2rem;
        right: 2rem;
      }
    }

    @include e('file-input-overlay') {
      width: 95%;
    }

    @include e('input') {
      width: 100%;
    }

    @include e('submit-btn') {
      margin: unset;
      margin-top: 2rem;
      width: 99%;
    }
  }
}
