.bg-music {
  background: url('/img/music-bg.jpeg') no-repeat top center;
  background-size: cover;
  min-height: 100vh;
}

.music {
  margin: 0 auto;
  max-width: 120rem;
  min-height: calc(100vh - $header-height);
  position: relative;

  @include e('heading') {
    color: $color-text-blue;
    font-size: 16rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 97rem;
  }

  @include e('content') {
    background: rgba($background-dark, 0.5);
    bottom: 0;
    color: $color-text-light;
    font-family: $font-secondary;
    font-size: 1.4rem;
    padding: 2.5rem;
    position: absolute;

    @include align-items(flex-end);
  }

  @include e('paragraph') {
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include max-screen-xs {
    @include e('content') {
      position: unset;
      margin-top: 20rem;
    }
  }

  @include max-screen-md {
    @include e('heading') {
      padding-left: 2rem;
      padding-top: 3rem;
      width: unset;
    }
  }

  @include max-screen-sm {
    @include e('heading') {
      font-size: 12rem;
      margin-bottom: 2rem;
    }
  }

  @include max-screen-xs {
    @include e('heading') {
      font-size: 7rem;
      padding-top: unset;
    }
  }
}
