.factsheet {
  margin: -20rem auto 0;
  max-width: 140rem;
  padding: 0 10rem 2rem 1rem;

  @include e('heading') {
    color: $color-text-red;
    font-size: 16rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  @include e('content') {
    font-family: $font-secondary;
  }

  @include e('content-group') {
    margin-bottom: 2rem;
  }

  @include e('content-heading-with-bottom-margin') {
    display: inline-block;
    margin-bottom: 0.8rem;
  }

  @include e('title-for-size') {
    display: inline-block;
    width: 33rem;

    &:nth-last-of-type(2) {
      margin-top: 0.8rem;
    }
  }

  @include e('nft-includes-list') {
    margin-left: 2rem;
  }

  @include e('nft-includes-list-item') {
    margin-bottom: 0.8rem;
  }

  @include max-screen-lg {
    margin-top: -15rem;
  }

  @include max-screen-md {
    margin-top: unset;
  }

  @include max-screen-sm {
    padding: 0 2rem 2rem;

    @include e('heading') {
      font-size: 10rem;
    }
  }

  @include max-screen-xs {
    @include e('heading') {
      font-size: 7rem;
    }

    @include e('title-for-size') {
      display: block;
      width: unset;
    }

    @include e('number-of-frames') {
      display: inline-block;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
