$nfts-nft-thumbnail-width: 30rem;

.nfts {
  padding-top: 8rem;

  @include e('upper-half') {
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 112rem;

    @include flex;
  }

  @include e('upper-half-nfts') {
    flex-grow: 1;
  }

  @include e('lower-half') {
    bottom: 20rem;
    margin: 0 auto;
    max-width: 115rem;
    position: relative;
  }

  @include e('nft') {
    justify-content: center;
    position: relative;

    @include align-items(center);
    @include flex;
  }

  @include e('nft-1') {
    z-index: 1;
  }

  @include e('nft-2') {
    bottom: 14rem;
  }

  @include e('nft-3') {
    justify-content: flex-start;
    top: 12rem;
  }

  @include e('nft-4') {
    margin-left: 1rem;
  }

  @include e('nft-5') {
    left: 1rem;
    order: 1;
  }

  @include e('nft-thumbnail') {
    cursor: pointer;
    height: 40rem;
    position: relative;
    width: $nfts-nft-thumbnail-width;
    z-index: 1;
  }

  @include e('nft-2-thumbnail') {
    order: 1;
  }

  @include e('nft-number') {
    left: $nfts-nft-thumbnail-width;
    height: 30rem;
    position: absolute;
    width: 18rem;
  }

  @include e('nft-1-number') {
    left: 40rem;
    top: -5rem;
  }

  @include e('nft-2-number') {
    bottom: -2rem;
    left: unset;
    right: 41rem;
  }

  @include e('nft-3-number') {
    top: -3rem;
  }

  @include e('nft-4-number') {
    left: 62rem;
    margin-top: -30rem;
  }

  @include e('nft-5-number') {
    margin-top: -5rem;
  }

  @include e('nft-text') {
    margin-left: 3rem;
    margin-top: -7rem;
    z-index: 1;
  }

  @include e('nft-1-text') {
    margin-bottom: 17rem;
    margin-right: 11rem;
  }

  @include e('nft-2-text') {
    margin-left: 14rem;
    margin-top: 14rem;
    width: 24rem;
  }

  @include e('nft-4-text') {
    margin-top: -25rem;
  }

  @include e('nft-5-text') {
    margin-top: -18rem;
    max-width: 18rem;
  }

  @include e('nft-title') {
    font-size: 2rem;
    word-break: break-all;
  }

  @include e('nft-description') {
    font-family: $font-secondary;
    line-height: 2;
  }

  @include e('nft-description-question') {
    display: inline-block;
    font-style: italic;
    line-height: 1.5;
  }

  @include e('upper-half-right-section') {
    @include align-items(flex-end);
    @include flex;
    @include flex-direction(column);
  }

  @include e('btn') {
    font-size: 2.2rem;
    height: 3.6rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 22rem;
  }

  @include e('how-it-works-and-nft-5-wrapper') {
    justify-content: space-between;
    margin-top: -18rem;

    @include flex;
  }

  @include e('how-it-works') {
    box-shadow: 0.4rem 0.4rem 0 1rem #f00;
    height: 38rem;
    width: 27rem;

    @include border-radius(2rem);
  }

  @include e('how-it-works-title') {
    font-size: 4rem;
    margin: 2.5rem;
  }

  @include e('how-it-works-step') {
    margin: 1.5rem;
    margin-left: 2rem;
    padding-left: 3.5rem;
    position: relative;

    @include align-items(center);
    @include flex;

    &::before {
      background: no-repeat center;
      content: '';
      height: 2.5rem;
      left: 0;
      position: absolute;
      width: 2.5rem;
    }

    &:nth-of-type(1) {
      &::before {
        background-image: url('/img/icons/cursor.svg');
      }
    }

    &:nth-of-type(2) {
      &::before {
        background-image: url('/img/icons/pause.svg');
      }
    }

    &:nth-of-type(3) {
      &::before {
        background-image: url('/img/icons/cog.svg');
      }
    }

    &:nth-of-type(4) {
      &::before {
        background-image: url('/img/icons/external-payment.svg');
      }
    }

    &:nth-of-type(5) {
      &::before {
        background-image: url('/img/icons/checkmark.svg');
      }
    }
  }

  @include max-screen-lg {
    @include e('upper-half') {
      margin-bottom: unset;
      max-width: 94rem;
    }

    @include e('lower-half') {
      max-width: 95rem;
    }

    @include e('how-it-works-and-nft-5-wrapper') {
      margin-right: unset;
      margin-top: -15rem;

      @include align-items(flex-start);
    }

    @include e('nft-thumbnail') {
      height: 33rem;
      width: 25rem;
    }

    @include e('nft-number') {
      height: 20rem;
      width: 10rem;
    }

    @include e('nft-1-number') {
      left: 32rem;
    }

    @include e('nft-2') {
      bottom: 10rem;
    }

    @include e('nft-2-number') {
      right: 32rem;
    }

    @include e('nft-3') {
      top: 8rem;
    }

    @include e('nft-3-text') {
      margin-top: -20rem;
    }

    @include e('nft-4') {
      margin-left: 4.5rem;
      margin-top: -5rem;
    }

    @include e('nft-4-number') {
      left: 52rem;
    }

    @include e('nft-5-number') {
      margin-top: -20rem;
    }

    @include e('nft-5-text') {
      max-width: 14rem;
    }

    @include e('how-it-works') {
      height: 39rem;
      width: 24rem;
    }

    @include e('how-it-works-title') {
      font-size: 3.5rem;
      margin: 2rem 2.5rem 0;
    }
  }

  @include max-screen-md {
    @include e('upper-half-right-section') {
      display: none;
    }

    @include e('nft') {
      margin: 0 auto;
      margin-top: 5rem;
      max-width: 65rem;

      @include flex-direction(column);

      &:nth-of-type(2n - 1) {
        @include align-items(flex-start);
      }

      &:nth-of-type(2n) {
        @include align-items(flex-end);
      }

      &.nfts__nft-5 {
        @include align-items(flex-start);
      }
    }

    @include e('nft-thumbnail') {
      height: 53rem;
      width: 40rem;
    }

    @include e('nft-number') {
      height: 30rem;
      left: 40rem;
      width: 20rem;
    }

    @include e('nft-text') {
      margin-left: 0;
      margin-top: 2rem;
    }

    @include e('nft-1') {
      margin-top: unset;
    }

    @include e('nft-1-text') {
      margin-bottom: unset;
    }

    @include e('nft-2') {
      bottom: unset;
    }

    @include e('nft-2-thumbnail') {
      order: unset;
    }

    @include e('nft-2-number') {
      bottom: unset;
      left: unset;
      right: 40rem;
      top: -2rem;
    }

    @include e('nft-2-text') {
      text-align: right;
    }

    @include e('lower-half') {
      bottom: unset;
    }

    @include e('nft-3') {
      top: unset;
    }

    @include e('nft-4') {
      margin-top: 4rem;
    }

    @include e('nft-4-number') {
      left: unset;
      margin-top: -3rem;
      right: 40rem;
    }

    @include e('nft-4-text') {
      text-align: right;
    }

    @include e('how-it-works-and-nft-5-wrapper') {
      display: unset;
      margin-right: unset;
      margin-top: unset;
    }

    @include e('how-it-works') {
      height: unset;
      margin: 5rem auto;
      max-width: 45rem;
      order: 1;
      padding: 0.1rem 0;
      width: 90%;
    }

    @include e('nft-5') {
      left: unset;

      @include align-items(flex-start);
    }

    @include e('nft-5-text') {
      max-width: unset;
    }

    @include e('nft-5-number') {
      margin-top: -3rem;
    }
  }

  @include max-screen-sm {
    overflow-x: hidden;

    @include e('nft') {
      max-width: 45rem;
    }

    @include e('nft-thumbnail') {
      height: 40rem;
      width: 30rem;
    }

    @include e('nft-number') {
      left: 30rem;
    }

    @include e('nft-2-number') {
      left: unset;
      right: 30rem;
    }

    @include e('nft-4-number') {
      left: unset;
      right: 30rem;
    }
  }

  @include max-screen-xs {
    @include e('upper-half') {
      overflow-x: hidden;
    }

    @include e('lower-half') {
      overflow-x: hidden;
    }

    @include e('nft') {
      padding: 0 2rem;
    }

    @include e('nft-thumbnail') {
      height: 27rem;
      width: 20rem;
    }

    @include e('nft-number') {
      left: 22.5rem;
      top: -8rem;
      width: 20vw;
    }

    @include e('nft-2-number') {
      left: unset;
      right: 22.5rem;
    }

    @include e('nft-4-number') {
      left: unset;
      right: 22.5rem;
    }
  }

  @media screen and (max-width: 299.98px) {
    @include e('nft') {
      padding: 0 1rem;
    }

    @include e('nft-number') {
      display: none;
    }
  }
}
