.order-verification {
  @include e('welcome-back') {
    font-family: $font-secondary;
    margin-top: 3rem;
  }

  @include e('form') {
    margin: 3rem auto 0;
    text-align: left;
    width: 30rem;

    @include flex;
    @include flex-direction(column);
  }

  @include e('input') {
    margin: {
      bottom: 0.5rem;
      top: 1rem;
    }
  }

  @include e('btn') {
    margin-top: 5rem;
    padding: 1rem 0;
  }

  @include e('submit-error') {
    @extend %submit-error;
  }

  @include max-screen-xs {
    @include e('form') {
      width: 25rem;
    }
  }
}
