.payment-form {
  margin-top: 3rem;
  width: 32rem;

  .btn {
    font-size: 2.2rem;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
  }

  @include e('heading') {
    color: $color-text-grey;
    font-size: 3.2rem;
    font-weight: 400;
  }

  @include e('text') {
    font-family: $font-secondary;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  @include e('info-row') {
    margin: 1.9rem 0;

    &:first-of-type {
      margin-top: 3.5rem;
    }
  }

  @include e('info-label') {
    display: inline-block;
    font-family: $font-secondary;
    font-size: 1.6rem;
    width: 13rem;
  }

  @include e('info') {
    display: inline-block;
    font-size: 2.4rem;
    word-break: break-all;
  }

  @include e('success-message') {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  @include e('error-message') {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  @include e('back-btn-small-devices') {
    display: none;
  }

  @include max-screen-md {
    flex: 1 1;
    min-width: 28rem;
    max-width: 32rem;

    margin: {
      left: 2rem;
      right: 2rem;
    }
  }

  @include max-screen-sm {
    margin-bottom: 2rem;
    max-width: unset;

    @include m('hidden-small-devices') {
      display: none;
    }

    @include e('back-btn-small-devices') {
      display: unset;
    }
  }

  @include max-screen-xs {
    width: 26rem;
  }
}

.form-container {
  margin: 2rem 0;

  @include flex;
  @include flex-direction(column);

  .input {
    margin: 1.2rem 0 0.4rem;
  }
}
