.processing-wallet-payment {
  margin-top: 7rem;

  @include e('heading') {
    color: $color-text-red;
    font-size: 5rem;
    text-align: center;
  }

  @include e('info') {
    font-family: $font-secondary;
    font-size: 2rem;
    margin-top: 2.5rem;
    text-align: center;
  }

  @include e('image') {
    height: 15rem;
    margin: 8rem auto 0;
    position: relative;
    width: 15rem;
  }
}
