%security-question-input {
  margin: 1rem 0;
  width: 100%;
}

.security-question {
  margin-top: 7rem;

  @include e('info') {
    font-family: $font-secondary;
    font-size: 1.4rem;
  }

  @include e('form') {
    padding-top: 2rem;
  }

  @include e('input') {
    @extend %security-question-input;
  }

  @include e('checkbox-input') {
    @extend %security-question-input;

    margin-bottom: 2rem;
    text-align: center;
  }

  @include e('label') {
    display: inline-block;
    font-family: $font-secondary;
    font-size: 1.6rem;
    margin-left: 1rem;
  }
}
