.link {
  color: $color-text-red;
  cursor: pointer;

  &:hover {
    color: lighten($color-text-red, 15%);
  }

  @include m('purple') {
    color: $color-text-purple;

    &:hover {
      color: lighten($color-text-purple, 15%);
    }
  }
}
