@import 'https://fonts.googleapis.com/css?family=VT323:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,600,700';

$background-dark: #1d1d1d;
$background-grey: #c4c4c4;
$background-light: #e5e5e5;
$background-purple: #c800ff;
$background-red: #f00;

$color-grey: #c4c4c4;
$color-purple: #d446ed;
$color-red: #f00;

$color-text-blue: #1271ff;
$color-text-dark: #1d1d1d;
$color-text-green: #2d7401;
$color-text-grey: #c4c4c4;
$color-text-light: #fff;
$color-text-purple: #c800ff;
$color-text-red: #f00;

$font-primary: 'VT323';
$font-secondary: 'Nunito';

$header-height: 10rem;
$footer-height: 4rem;
