@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf');
}

$background-dark: #1d1d1d;
$background-grey: #c4c4c4;
$background-light: #e5e5e5;
$background-purple: #c800ff;
$background-red: #f00;

$color-grey: #c4c4c4;
$color-purple: #d446ed;
$color-red: #f00;

$color-text-blue: #1271ff;
$color-text-dark: #1d1d1d;
$color-text-gold: #bea500;
$color-text-gold: #7f5f1d;
$color-text-green: #2d7401;
$color-text-grey: #c4c4c4;
$color-text-light: #fff;
$color-text-purple: #c800ff;
$color-text-red: #f00;
$color-text-yellow: #ffdd00;

$font-primary: 'VT323', monospace;
$font-secondary: 'Nunito', sans-serif;

$header-height: 10rem;
$footer-height: 4rem;
