%submit-error {
  color: $color-text-red;
  font-family: $font-secondary;
  height: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.claim-nfts {
  margin-top: $header-height;
  min-height: calc(100vh - $header-height);

  @include e('main') {
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    width: 67rem;
  }

  @include e('heading') {
    font-size: 5rem;
    font-weight: 400;
  }

  @include e('thank-you') {
    font-family: $font-secondary;
    margin-top: 10rem;
    padding: 0 1.5rem;
  }

  @include e('additional-info') {
    font-family: $font-secondary;
    margin-top: 3rem;
    padding: 0 1.5rem;
  }

  @include e('link') {
    display: inline-block;
    font-family: $font-secondary;
    margin-top: 10rem;
  }

  @include max-screen-sm {
    @include e('main') {
      width: auto;
    }
  }

  @include max-screen-xs {
    @include e('heading') {
      font-size: 3.6rem;
    }
  }
}
