.media-coverage {
  @include e('main') {
    margin: 0 6.5rem;
    padding-bottom: 6rem;
  }

  @include e('heading') {
    color: $color-text-red;
    font-size: 8rem;
    margin: {
      bottom: 2rem;
      top: 1rem;
    }
    text-transform: uppercase;
  }

  @include e('content-group') {
    font-family: $font-secondary;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 102.4rem;

    @include flex;

    &:first-of-type {
      margin-bottom: 15rem;
    }

    &:last-of-type {
      margin-top: 7rem;
    }
  }

  @include e('image') {
    position: relative;
    width: 60rem;

    &:nth-of-type(2) {
      width: 55rem;
    }
  }

  @include e('text') {
    width: 33rem;
    margin-left: 10rem;
  }

  @include e('text-date') {
    font-weight: bold;
  }

  @include e('text-heading') {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  @include e('text-paragraph') {
    margin-bottom: 2rem;

    @include m('with-separator') {
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid $color-text-light;
    }
  }

  @include max-screen-lg {
    @include e('content-group') {
      width: 90rem;
    }

    @include e('image') {
      width: 50rem;

      &:nth-of-type(2) {
        width: 50rem;
      }
    }
  }

  @include max-screen-md {
    @include e('content-group') {
      width: unset;

      @include align-items(center);
      @include flex-direction(column);

      &:first-of-type {
        margin-bottom: 7rem;
      }
    }

    @include e('text') {
      margin-left: unset;
      width: unset;
    }

    @include e('image') {
      order: 1;
      width: 55rem;

      &:nth-of-type(2) {
        width: 55rem;
      }
    }
  }

  @include max-screen-sm {
    @include e('main') {
      margin: 0 2rem;
    }

    @include e('image') {
      order: 1;
      width: 45rem;

      &:nth-of-type(2) {
        width: 45rem;
      }
    }
  }

  @include max-screen-xs {
    @include e('heading') {
      font-size: 6rem;
    }

    @include e('image') {
      width: 85vw;

      &:nth-of-type(2) {
        width: 85vw;
      }
    }
  }
}
