%press-page-section {
  margin-top: 7rem;
}

%press-page-heading {
  color: $color-text-red;
  font-family: $font-primary;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.9;
  text-transform: uppercase;
}

%press-page-btn {
  font-family: $font-secondary;
  font-size: 1.6rem;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  width: 12rem;
}

%press-link-copied {
  color: lighten($color-text-gold, 20%);
  font-family: $font-secondary;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

@mixin press-video-responsive {
  height: 0;
  margin-right: unset;
  overflow: hidden;
  padding-bottom: 56.1%;
  position: relative;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.press {
  margin: 5rem auto 0;
  max-width: 105rem;

  @include e('page-heading') {
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
  }

  @include e('heading') {
    @extend %press-page-heading;

    @include m('larger') {
      font-size: 5rem;
      margin-bottom: 1.5rem;
    }
  }

  @include e('login-text') {
    font-family: $font-secondary;
    margin-top: 3rem;
    text-align: center;
  }

  @include e('login-input') {
    display: block;
    margin: 5rem auto 0;
    width: 30rem;
  }

  @include e('login-btn') {
    display: block;
    margin: 3rem auto 0;
    padding: 1rem;
    width: 29.5rem;
  }

  @include e('login-error') {
    margin-top: 2rem;
    padding: 0;
    text-align: center;
  }

  @include e('btn-icon') {
    margin-right: 0.5rem;
    position: relative;
    top: 0.2rem;
  }

  @include e('top-section-main') {
    margin-top: 1rem;

    @include flex;
  }

  @include e('teaser-video') {
    margin-right: 3rem;
  }

  @include e('teaser-video-info') {
    justify-content: space-between;

    @include flex;
    @include flex-direction(column);
  }

  @include e('teaser-video-info-heading') {
    @extend %press-page-heading;

    margin-right: 14rem;
    width: 27rem;
  }

  @include e('teaser-video-info-row') {
    position: relative;

    &:first-of-type {
      top: -0.7rem;
    }

    &:nth-of-type(2) {
      top: -0.35rem;
    }
  }

  @include e('teaser-video-info-docs-section') {
    font-family: $font-secondary;
    margin-top: 0.8rem;

    @include flex;
  }

  @include e('teaser-video-doc-group') {
    @include flex;

    &:last-of-type {
      margin-left: 2rem;
    }
  }

  @include e('teaser-video-info-language') {
    margin-left: 2rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  @include e('teaser-video-info-doc') {
    margin-left: 1rem;
  }

  @include e('teaser-video-btn-area') {
    margin-bottom: 1rem;

    @include flex;
  }

  @include e('teaser-video-btn') {
    @extend %press-page-btn;

    &:first-child {
      margin: {
        right: 3rem;
        top: 2.4rem;
      }
    }
  }

  @include e('teaser-video-link-copied-text') {
    @extend %press-link-copied;
  }

  @include e('docx-icon') {
    position: relative;
    width: 5rem;
  }

  @include e('media-contact-section') {
    justify-content: space-between;
    margin-top: 5rem;

    @include flex;
  }

  @include e('media-contact-heading') {
    @extend %press-page-heading;

    width: 15rem;
  }

  @include e('media-contact-info') {
    font-family: $font-secondary;
    line-height: 2.5rem;
  }

  @include e('media-contact-emails') {
    font-family: $font-secondary;
    line-height: 2.5rem;
  }

  @include e('media-contact-emails-row') {
    position: relative;

    @include align-items(center);
    @include flex;

    &:nth-of-type(2) {
      &::before,
      &::after {
        background: $background-grey;
        content: '';
        height: 0.2rem;
        width: 100%;
      }

      &::before {
        margin-right: 1rem;
      }

      &::after {
        margin-left: 1rem;
      }
    }
  }

  @include e('social-media-section') {
    @extend %press-page-section;
  }

  @include e('socials') {
    margin: 1.5rem auto;
  }

  @include e('social-link') {
    @extend %social-link;
  }

  @include e('liquid-poster-section') {
    @extend %press-page-section;

    font-family: $font-secondary;
  }

  @include e('liquid-posters-row') {
    justify-content: space-between;

    @include flex;

    &:last-of-type {
      justify-content: center;
    }
  }

  @include e('liquid-poster') {
    @include m('unavailable') {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  @include e('liquid-poster-video') {
    height: 27rem;
    position: relative;
    width: 48rem;
  }

  @include e('liquid-poster-unavailable-text') {
    background: transparentize($background-dark, 0.2);
    font-family: $font-primary;
    font-size: 3rem;
    left: 50%;
    padding: 1rem 2rem;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 30rem;
  }

  @include e('liquid-poster-iframe') {
    height: 100%;
    width: 100%;
  }

  @include e('liquid-poster-name') {
    font-size: 1.8rem;
    font-weight: bold;
    margin: {
      bottom: 0.3rem;
      top: 0.5rem;
    }
    word-break: break-all;
  }

  @include e('liquid-poster-btn-area') {
    margin-bottom: 3.5rem;

    @include align-items(flex-end);
    @include flex;
  }

  @include e('liquid-poster-btn') {
    @extend %press-page-btn;

    @include m('download') {
      margin: {
        right: 2rem;
        top: 2.7rem;
      }
    }

    @include m('unavailable') {
      cursor: not-allowed;
    }
  }

  @include e('liquid-poster-link-copied-text') {
    @extend %press-link-copied;
  }

  @include e('gallery-section') {
    @extend %press-page-section;
  }

  @include e('gallery') {
    display: grid;
    font-family: $font-secondary;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  @include e('gallery-image-container') {
    margin-bottom: 3rem;
  }

  @include e('gallery-image') {
    position: relative;
  }

  @include e('gallery-image-caption') {
    padding: 0.5rem;
  }

  @include e('gallery-btn') {
    @extend %press-page-btn;

    margin: {
      left: 0.5rem;
      top: 1rem;
    }
  }

  @include max-screen-lg {
    max-width: 95rem;

    @include e('teaser-video-info-heading') {
      margin-right: unset;
    }

    @include e('teaser-video-btn') {
      &:first-child {
        margin-right: 2rem;
      }
    }

    @include e('liquid-poster-video') {
      height: 24.75rem;
      position: relative;
      width: 44rem;
    }
  }

  @include max-screen-md {
    margin: 5rem 3rem 0;
    max-width: unset;

    @include e('top-section-main') {
      @include flex-direction(column);
    }

    @include e('teaser-video') {
      @include press-video-responsive;
    }

    @include e('teaser-video-btn-area') {
      margin-top: 1rem;
    }

    @include e('teaser-video-info-row') {
      margin-top: 2rem;

      &:first-of-type {
        top: unset;
      }

      &:nth-of-type(2) {
        top: unset;
      }
    }

    @include e('liquid-poster') {
      margin-bottom: 3rem;
    }

    @include e('liquid-posters-row') {
      @include flex-direction(column);
    }

    @include e('liquid-poster-video') {
      width: unset;

      @include press-video-responsive;
    }

    @include e('gallery') {
      grid-template-columns: 1fr;
    }
  }

  @include max-screen-sm {
    margin: 5rem 1.5rem 0;

    @include e('media-contact-section') {
      @include flex-direction(column);
    }

    @include e('media-contact-info') {
      line-height: unset;
      margin-top: 1rem;
    }

    @include e('media-contact-info-row') {
      margin-top: 1rem;
    }

    @include e('media-contact-emails') {
      line-height: unset;
      margin-top: 1rem;
      width: 25rem;
    }

    @include e('media-contact-emails-row') {
      margin-top: 1rem;
    }
  }

  @include max-screen-xs {
    @include e('login-input') {
      max-width: 30rem;
      width: 100%;
    }

    @include e('login-btn') {
      max-width: 29.5rem;
      width: 100%;
    }

    @include e('teaser-video-info-heading') {
      width: unset;
    }

    @include e('teaser-video-info-docs-section') {
      @include flex-direction(column);
    }

    @include e('teaser-video-doc-group') {
      &:last-of-type {
        margin-left: 0;
      }
    }

    @include e('teaser-video-btn-area') {
      @include flex-direction(column);
    }

    @include e('teaser-video-link-copied-text') {
      margin: {
        left: 4.5rem;
        top: 2rem;
      }
      text-align: left;
    }

    @include e('liquid-poster-btn-area') {
      @include align-items(flex-start);
      @include flex-direction(column);
    }

    @include e('liquid-poster-btn') {
      @include m('download') {
        margin-bottom: 2rem;
      }
    }
  }
}
