.shopping-cart {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 165rem;

  @include flex;

  @include max-screen-xl {
    justify-content: space-around;
    margin: unset;
    max-width: unset;
  }
}
