.shopping-cart {
  margin-top: $header-height;
  min-height: calc(100vh - $header-height);

  @include e('main') {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 165rem;

    @include flex;
  }

  @include max-screen-xl {
    @include e('main') {
      justify-content: space-around;
      margin: unset;
      max-width: unset;
    }
  }
}
